#
/bin/*.exe
/bin/*.dll
/bin/*.manifest
/bin/*.pdb
/bin/*.log
/bin/*.txt
/bin/*.exp
/bin/*.lib
/bin/*.iobj
/bin/*.ipdb
/bin/*.ilk

#
/lib/
/tmp/

#
/interpreters/**/*.exe
/interpreters/**/*.pdb
/interpreters/**/*.pdb
/interpreters/**/*.ilk
/interpreters/**/*.iobj
/interpreters/**/*.ipdb

#
/dependencies/squirrel/.vs
/dependencies/squirrelsh/.vs
/dependencies/czPlatform/**/*.user
/source/.vs
/source/**/*.user

#
# wxWidgets
#
# Libraries/dlls
#/dependencies/wxWidgets/lib/vc_dll/
#/dependencies/wxWidgets/lib/vc_lib/
#/dependencies/wxWidgets/lib/vc_x64_dll/
#/dependencies/wxWidgets/lib/vc_x64_lib/
# Library object files
#/dependencies/wxWidgets/build/msw/.vs/
#/dependencies/wxWidgets/build/msw/ipch/
#/dependencies/wxWidgets/build/msw/vc_mswu/
#/dependencies/wxWidgets/build/msw/vc_mswud/
#/dependencies/wxWidgets/build/msw/vc_mswudll/
#/dependencies/wxWidgets/build/msw/vc_mswuddll/
#/dependencies/wxWidgets/build/msw/vc_x64_mswu/
#/dependencies/wxWidgets/build/msw/vc_x64_mswud/
#/dependencies/wxWidgets/build/msw/vc_x64_mswudll/
#/dependencies/wxWidgets/build/msw/vc_x64_mswuddll/

